/* GlobalNavigationBarButton.module.less */
.button {
  background-color: purple !important;
  padding: 20px;
  margin: 0px !important;
}
.bg {
  background-color: yellow !important;
  box-shadow: none !important;
}
.selected {
  color: green !important;
}
