/* GlobalNavigationBarButton.module.less */
.button {
  // 이거 *3 해야지 원하는 사이즈로 적용되는 이유 아시는분 orange로 디엠좀 보내주세요 ^^
  height: auto !important;
  min-width: 780px !important;
  padding-top: 46.5px !important;
  padding-bottom: 28.5px !important;
  padding-left: 165px !important;
  padding-right: 165px !important;
  margin: 0px !important;
  font-size: 99px !important;
  font-family: "LGSmartUI" !important;
  font-weight: 600 !important;
  font-style: normal !important;
  line-height: normal !important;
  overflow: visible !important;
}
.bg {
  background-color: rgba(0, 0, 0, 0.4) !important;
  // 이거 4px 넣어야 2px로 적용되는 이유 아시는분 orange로 디엠좀 보내주세요 ^^
  box-shadow: inset 0 0 0 4px rgba(230, 230, 230, 0.3) !important;
  border-radius: 999px !important;
}
.button:focus .bg {
  background-color: white !important;
}
